RewriteEngine On

# Permite acesso apenas se o pedido for feito por referência de uma aplicação (não direto na URL)
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(localhost|conectamaes\.linceonline\.com\.br).* [NC]
RewriteRule ^ConectaMaes/documents/.*$ /ConectaMaes/public/home.php [L,R=302]

# Para o servidor
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(localhost|conectamaes\.linceonline\.com\.br).* [NC]
RewriteRule ^documents/.*$ /public/home.php [L,R=302]
