@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', 'sans-serif';
    font-style: normal;
}

body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

main{
    position: relative;
    width: 100vw;
    height: max-content;
    padding-bottom: 3rem;
    overflow: hidden;
    scroll-behavior: smooth;
}

.backgroundGeometricForms{
    position: absolute;
    right: 0;
    top: -4rem;
    width: 15vw;
    height: max-content;
}

.backgroundGeometricForms.cellsLeft{
    left: 0;
    transform: scaleX(-1);
}



/*====================================================================================================
====================================== PÁGINA DE APRESENTAÇÃO ========================================
====================================================================================================*/

.La-landing{
    background: linear-gradient(var(--whiteColor) 8%, #80752350 16%, #03718050 45%, #a3155f50 75%, #80752350 85%);
    padding-left: 3rem;
}

.La-landingSections .La-quote{
    padding:  5rem 0 3rem 5rem;
    width: 75vw;
    font-size: 10vh;
}

.La-landingSections article{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: 60vw;
    font-size: 1.25rem;
    text-align: justify;
}

.La-landingSections  article .La-momImageRight{
    width: 9rem;
    margin-right: -15rem;
}

.La-landingSections  article .La-momImageLeft{
    width: 12rem;
}

.La-landingSections .La-articleHighlight{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.La-landingSections .La-articleHighlight .La-articleBar{
    position: relative;
    height: 20rem;
    width: 3px;
    border-radius: 100%;
}

.La-landingSections .La-articleHighlight .La-articleBar::before {
    content: "";
    position: absolute;
    transform: translateY(-20%);
    height: 140%;
    inset: -7px;
    filter: blur(15px);
    border-radius: 100%;
    z-index: -1;
}

.La-landingSections .La-articleConectaMaes .La-articleHighlight .La-articleBar,
.La-landingSections .La-articleEquip .La-articleHighlight .La-articleBar{
    background: var(--middleYellowColor);
}
.La-landingSections .La-articleConectaMaes .La-articleHighlight .La-articleBar::before,
.La-landingSections .La-articleEquip .La-articleHighlight .La-articleBar::before{
    background: var(--pastelYellowColor);
}

.La-landingSections .La-Sharing .La-articleHighlight .La-articleBar{
    background: linear-gradient(var(--middleYellowColor) 30%, var(--middleBlueColor) 100%);
}

.La-landingSections .La-Sharing .La-articleHighlight .La-articleBar::before{
    background: linear-gradient(var(--pastelYellowColor) 30%, var(--pastelBlueColor) 100%);
}

.La-landingSections .La-articleFollowing .La-articleHighlight .La-articleBar{
    background-color: var(--middleBlueColor);
}

.La-landingSections .La-articleFollowing .La-articleHighlight .La-articleBar::before{
    background-color: var(--pastelBlueColor);
}

.La-landingSections .La-articleHelping .La-articleHighlight .La-articleBar{
    background: linear-gradient(var(--middleBlueColor) 30%, var(--middlePinkColor) 100%);
}

.La-landingSections .La-articleHelping .La-articleHighlight .La-articleBar::before{
    background: linear-gradient(var(--pastelBlueColor) 30%, var(--pastelPinkColor) 100%);
}

.La-landingSections .La-articleRating .La-articleHighlight .La-articleBar{
    background: linear-gradient(var(--middlePinkColor), #FA7EBD00);
}

.La-landingSections .La-articleRating .La-articleHighlight .La-articleBar::before{
    background: linear-gradient(var(--pastelPinkColor), #FA7EBD00);
}

.La-landingSections .La-articleConectaMaes .La-focus,
.La-landingSections .La-Sharing .La-focus{
    font-weight: bolder;
    color: var(--middleYellowColor);
}

.La-landingSections .La-articleFollowing .La-focus,
.La-landingSections .La-articleHelping .La-focus{
    font-weight: bolder;
    color: var(--middleBlueColor);
}

.La-landingSections .La-articleRating .La-focus{
    font-weight: bolder;
    color: var(--middlePinkColor);
}

.La-landingSections:nth-of-type(2){
    align-items: center;
}

.La-landingSections .La-createAccountSign{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    left: 50%;
    transform: translate(-50%);
}

.La-landingSections .La-createAccountSign p{
    width: 20rem;
    text-align: center;
    font-size: 1.2rem;
}

.La-landingSections .La-createAccountSign .La-createAccountButton{
    display: flex;
    padding: 0.7rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    color: var(--whiteColor);
    background-color: var(--middlePinkColor);
    width: 13rem;
    box-shadow: 0 0 5px 1px var(--darkPinkColor);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

.La-landingSections .La-articleEquip{
    position: relative;
    justify-content: center;
    padding: 10rem 2rem 0 0;
    width: 100vw;
}

.La-landingSections .La-articleEquip .La-articleHighlight{
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
    left: 1rem;
    top: 0;
}

.La-landingSections .La-articleEquip .La-articleHighlight .La-articleBar{
    height: 6.25rem;
    background: linear-gradient(#FA7EBD00,var(--middleYellowColor));
}

.La-landingSections .La-articleEquip .La-articleHighlight h2{
    font-size: 2rem;
}

.La-landingSections .La-articleEquip .La-equipContainer{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 3rem;
}

.La-landingSections .La-articleEquip .La-equipContainer .La-equipMember .La-memberImage img{
    width: 10rem;
}

.La-landingSections .La-articleEquip .La-equipContainer .La-equipMember .La-memberInformation{
    line-height: 1.4rem;
    text-align: center;
}

.La-landingSections .La-articleEquip .La-equipContainer .La-equipMember .La-memberInformation .La-memberName{
    font-size: 1.7rem;
    font-weight: 600;
}

.La-landingSections .La-articleEquip .La-equipContainer .La-equipMember .La-memberInformation .La-memberFamilyName{
    font-weight: 500;
    font-size: 1.2rem;
}

.La-landingSections .La-articleEquip .La-equipContainer .La-equipMember .La-memberInformation .La-memberFunction{
    font-weight: 400;
    font-size: 1rem;
}

/*====================================================================================================
========================================= PÁGINA DE LOGIN  ===========================================
====================================================================================================*/

.Lo-Login{
    position: relative;
    display: flex;
    background: linear-gradient(var(--whiteColor) 0%, #fffad0 95%);
}

.Lo-loginForm{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 1.5rem;
    border: 2px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    border-radius: 1rem;
    width: 29rem;   
    height: 32rem;
    box-shadow: 0 4px 16px 0px #00000040;
}

.Lo-loginForm .Lo-formHeader{
    text-align: center;
    font-size: 0.9rem;
    color: var(--darkYellowColor);
}

.Lo-loginForm .Lo-formHeader .Lo-loginTitle{
    position: relative;
    color: var(--middleYellowColor);
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 0 2px 4px #00000040;
}

.Lo-loginForm .Lo-userSection{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Lo-loginForm .Lo-userSection .Lo-input{
    position: relative;
    width: 23rem;
}

.Lo-loginForm .Lo-userSection .Lo-input input {
    position: relative;
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 100rem;
    border: 2px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    outline: none;
    color: var(--blackColor);
    opacity: 0.5;
}

.Lo-loginForm .Lo-userSection .Lo-input input:focus,
.Lo-loginForm .Lo-userSection .Lo-input input:hover,
.Lo-loginForm .Lo-userSection .Lo-input input:valid {
    opacity: 1;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    transition: 0.15s ease-in-out, 0 background-image;
}

.Lo-loginForm .Lo-userSection .Lo-input .Lo-fakePlaceholder{
    position: absolute;
    color: var(--middleYellowColor);
    font-weight: 600;
    cursor: text;
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
    font-size: 15px;
    top: 11px;
    left: 1rem;
    opacity: 0.65;
    font-weight: 500;
}

.Lo-loginForm .Lo-userSection .Lo-input input:focus + .Lo-fakePlaceholder,
.Lo-loginForm .Lo-userSection .Lo-input input:valid + .Lo-fakePlaceholder {
    top: -5px;
    font-size: 12px;
    opacity: 1;
    text-shadow: 3px 0 0 var(--whiteColor), -3px 0 0 var(--whiteColor), 0 3px 0 var(--whiteColor), 0 -3px 0 var(--whiteColor),3px 3px 0 var(--whiteColor), -3px -3px 0 var(--whiteColor), 3px -3px 0 var(--whiteColor), -3px 3px 0 var(--whiteColor),
                5px 0 0 var(--whiteColor), -5px 0 0 var(--whiteColor), 0 5px 0 var(--whiteColor), 0 -5px 0 var(--whiteColor),5px 5px 0 var(--whiteColor), -5px -5px 0 var(--whiteColor), 5px -5px 0 var(--whiteColor), -5px 5px 0 var(--whiteColor);
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
}

.Lo-loginForm .Lo-input:last-of-type{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.3rem;
    font-size: 0.8rem;
    margin-top: -0.5rem;
    color: var(--blackColor);
}

.Lo-loginForm .Lo-rememberMe{
    display: flex;
    gap: 5px;
    white-space: nowrap;
}

.Lo-loginForm .Lo-rememberMe input{
    background: linear-gradient(var(--whiteColor) 8%, #80752350 16%, #03718050 45%, #a3155f50 75%, #80752350 85%);
}

.Lo-loginForm .Lo-forgetPassword{
    text-decoration: none;
    color: var(--blackColor);
}

.Lo-loginForm .Lo-loginSubmit{
    position: relative;
    display: flex;
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 100rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 2px 4px 0px #00000040;
}

.Lo-loginForm .Lo-loginSubmit:hover{
    position: relative;
    font-size: 1.4rem;
    transition: 0.2s;
}
.Lo-loginForm .Lo-goRegister{
    position: relative;
    font-size: 0.8rem;
}

.Lo-loginForm .Lo-goRegister a{
    position: relative;
    color: var(--middleYellowColor);
    font-weight: 700;
}

/*====================================================================================================
======================================== PÁGINA DE REGISTRO ==========================================
====================================================================================================*/

.Re-register{
    position: relative;
    display: flex;
    background: linear-gradient(var(--whiteColor) 0%, #fffad0 95%);
}

.Re-registerForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 3rem 0;
    border: 2px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    border-radius: 1rem;
    width: 29rem;   
    height: 32rem;
    box-shadow: 0 4px 16px 0px #00000040;
    overflow: auto;
}

.Re-registerForm::-webkit-scrollbar{
    display: none;
}

.Re-registerForm .Re-formHeader{
    text-align: center;
    font-size: 0.9rem;
    color: var(--darkYellowColor);
}

.Re-registerForm .Re-formHeader .Re-registerTitle{
    position: relative;
    color: var(--middleYellowColor);
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 0 2px 4px #00000040;
}

.Re-registerForm .Re-userSection{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.Re-registerForm .Re-userSection .Re-input {
    position: relative;
}

.Re-registerForm .Re-userSection .Re-input input {
    position: relative;
    padding: 0.6rem 0.5rem;
    border-radius: 100rem;
    border: 2px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    outline: none;
    color: var(--blackColor);
    opacity: 0.5;
}

.Re-registerForm .Re-userSection .Re-input input:focus,
.Re-registerForm .Re-userSection .Re-input input:hover,
.Re-registerForm .Re-userSection .Re-input input:valid {
    opacity: 1;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    transition: 0.15s ease-in-out, 0 background-image;
}

.Re-registerForm .Re-userSection .Re-input .Re-fakePlaceholder{
    position: absolute;
    color: var(--middleYellowColor);
    font-weight: 600;
    cursor: text;
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
    font-size: 15px;
    top: 11px;
    left: 1rem;
    opacity: 0.65;
    font-weight: 500;
}

.Re-registerForm .Re-userSection .Re-input input:focus + .Re-fakePlaceholder,
.Re-registerForm .Re-userSection .Re-input input:valid + .Re-fakePlaceholder{
    top: -5px;
    font-size: 12px;
    opacity: 1;
    text-shadow: 3px 0 0 var(--whiteColor), -3px 0 0 var(--whiteColor), 0 3px 0 var(--whiteColor), 0 -3px 0 var(--whiteColor),3px 3px 0 var(--whiteColor), -3px -3px 0 var(--whiteColor), 3px -3px 0 var(--whiteColor), -3px 3px 0 var(--whiteColor),
                5px 0 0 var(--whiteColor), -5px 0 0 var(--whiteColor), 0 5px 0 var(--whiteColor), 0 -5px 0 var(--whiteColor),5px 5px 0 var(--whiteColor), -5px -5px 0 var(--whiteColor), 5px -5px 0 var(--whiteColor), -5px 5px 0 var(--whiteColor);
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
}

.Re-registerForm .Re-registerNext{
    position: relative;
    display: flex;
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
    border-radius: 100rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 2px 4px 0px #00000040;
}

.Re-registerForm .Re-registerNext:hover{
    position: relative;
    font-size: 1.4rem;
    transition: 0.2s;
}

.Re-registerForm .Re-goLogin{
    position: relative;
    font-size: 0.8rem;
}

.Re-registerForm .Re-goLogin a{
    position: relative;
    color: var(--middleYellowColor);
    font-weight: 700;
}

.Re-registerForm .Re-childSection{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem 0 1rem 0;
}

.Re-registerForm .Re-childSection .Re-childInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.Re-registerForm .Re-childSection .Re-childInfo .Re-addChild{
    position: relative;
    display: flex;
    background: linear-gradient(to right, var(--pastelYellowColor) 0%, var(--pastelBlueColor) 50%, var(--pastelPinkColor) 100%);
    border-radius: 100rem;
    width: 23rem;
    height: 2.3rem;
    box-shadow: 0 3px 3px 0px #00000020;
    font-weight: 900;
    font-size: 1.2rem;
    text-shadow: 0 0 3px #ffffff30;
    color: var(--whiteColor);
    cursor: pointer;
}

.Re-registerForm .Re-childSection .Re-childInfo .Re-haveNoChildBox{
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
}

.Re-registerForm .Re-childSection .Re-themeInfo{
    position: relative;
    line-height: 1.7rem;
}

.Re-registerForm .Re-childSection .Re-themeInfo .Re-themeOptions{
    display: flex;
    gap: 1.5rem;
    font-size: 0.8rem;
}

.Re-registerForm .Re-childSection .Re-themeInfo .Re-themeOptions label{
    margin-left: -0.8rem;
}

.Re-registerForm .Re-addChildBox{
    position: absolute;
    border: 1px solid var(--blackColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.3rem;
    border: 2px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    border-radius: 1rem;
    width: 26rem;   
    height: 18rem;
    box-shadow: 0 4px 16px 0px #00000040;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    z-index: +1;
    overflow: hidden;
}

.Re-registerForm .Re-addChildBox.close{
    display: none;
}

.Re-registerForm .Re-addChildBox .Re-childBoxHeader{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-bottom: 1px solid transparent;
    background: linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
}

.Re-registerForm .Re-addChildBox .Re-childBoxHeader .Re-childName{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--whiteColor);
    text-shadow: 0 0 3px #ffffff30;
    text-align: center;
}

.Re-registerForm .Re-addChildBox .Re-childBoxHeader .Re-childName::placeholder{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--whiteColor);
    text-shadow: 0 0 3px #ffffff30;
}

.Re-registerForm .Re-addChildBox .Re-childBoxSex{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.Re-registerForm .Re-addChildBox .Re-childBoxSex span{
    display: flex;
    height: 2rem;
    width: 6.5rem;
    border: 1px solid transparent;
    border-radius: 10rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.5;
}

.Re-registerForm .Re-addChildBox .Re-childBoxSex .Re-childGirl{
    background: linear-gradient(#ffdcee, #ffdcee) padding-box, linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    color: var(--middlePinkColor);
}

.Re-registerForm .Re-addChildBox .Re-childBoxSex .Re-childBoy{
    background: linear-gradient(#dffbff, #dffbff) padding-box, linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    color: var(--middleBlueColor);
}

.Re-registerForm .Re-addChildBox .Re-childBoxSex .Re-childOther{
    background: linear-gradient(#fffbd6, #fffbd6) padding-box, linear-gradient(to right, var(--pastelYellowColor), var(--pastelBlueColor), var(--pastelPinkColor)) border-box;
    color: var(--middleYellowColor);
}

.Re-registerForm .Re-addChildBox .Re-childBoxInputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Re-registerForm .Re-addChildBox .Re-childBoxInputs .Re-input{
    position: relative;
    border: 1px solid transparent;
    background: linear-gradient(var(--whiteColor), var(--whiteColor)) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    border-radius: 10rem;
    width: 22rem;
    height: 2.5rem;
    padding-right: 1.4rem;
}

.Re-registerForm .Re-addChildBox .Re-childBoxInputs .Re-input input,
.Re-registerForm .Re-addChildBox .Re-childBoxInputs .Re-input select{
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    border-radius: 10rem;
}

.Re-registerForm .Re-addChildBox .Re-childBoxInputs .Re-input label{
    position: absolute;
    top: -10px;
    left: 1rem;
    font-size: 0.8rem;
    background-color: var(--whiteColor);
    padding: 0 0.5rem;
    color: var(--middleYellowColor);
    font-weight: 500;
}

.Re-registerForm .Re-addChildBox .Re-childBoxInputs .Re-input .Re-inputIcon{
    position: absolute;
    font-size: 0.8rem;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
}
.Re-registerForm .Re-childBoxButtons{
    position: absolute;
    display: flex;
    gap: 0.5rem;
    bottom: 1rem;
    right: 2rem;
}

.Re-registerForm .Re-childBoxButtons button{
    display: flex;
    height: 2rem;
    width: 6rem;    
    cursor: pointer;
    color: var(--middleYellowColor);
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.Re-registerForm .Re-childBoxButtons button:nth-of-type(2){
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
    border: 1px solid var(--middleYellowColor);
    border-radius: 10rem;
}

.Re-registerForm .Re-termsBox{
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    margin: 1rem 0 -1rem 0;
}


/*====================================================================================================
======================================= PÁGINA INICIAL (HOME) ========================================
====================================================================================================*/

.Ho-Main{
    width: 100vw;
    display: flex;
    padding: 0;
}

.Ho-Main .asideLeft{
    width: 25vw;
}

.Ho-Main .timeline{
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-top: none;
    width: 50vw;
    height: 89.5vh;
}

.Ho-Main .asideRight{
    width: 25vw;
}

.Ho-Main .timeline .Ho-postSomething{
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: 1px solid #e4e4e4;
    height: 10rem;
    padding: 1rem 0.5rem 3rem 1rem;
}

.Ho-Main .timeline .Ho-postSomething .Ho-postLeft{
    display: flex;
    flex-direction: column;
}

.Ho-Main .timeline .Ho-postSomething .Ho-postLeft .Ho-userProfileImage{
    position: relative;
    width: fit-content;
}

.Ho-Main .timeline .Ho-postSomething .Ho-postLeft .Ho-userProfileImage img{
    width: 4rem;
    height: 4rem;
}

.Ho-Main .timeline .Ho-postSomething .Ho-postLeft .H-characters{
    font-size: 0.8rem;
}

.characterBlocked {
    animation: shake 0.7s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.Ho-Main .timeline .Ho-postSomething .Ho-postCenter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.Ho-Main .timeline .Ho-postSomething .Ho-postCenter .postTextContent{
    position: relative;
    width: 100%;
    height: 2rem;
    outline: none;
    border: none;    
    background-color: transparent;
}

.Ho-Main .timeline .Ho-postSomething .imageInput{
    position: absolute;
    left: 2rem;
    bottom: 1rem;   
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
}

.Ho-Main .timeline .Ho-postSomething .imageInput input{
    display: none
}
  
.Ho-Main .timeline .Ho-postSomething .imageInput label {
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.Ho-Main .timeline .Ho-postSomething .imageInput label img{
    width: 1.3rem;
}

.preview img {
    margin-left: 1rem;
    width: 2rem;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.preview img:hover {
    opacity: 1;
    width: 2.3rem;
    transition: 0.3s;
}

.preview.maximize img {
    transform: scale(5);    
}

.Ho-Main .timeline .Ho-postSomething button[type='submit']{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    background-color: var(--pastelPinkColor);
    padding: 0.5rem 1.5rem;
    color: var(--whiteColor);
    border-radius: 100rem;
    border: none;
    cursor: pointer;
    font-weight: 900;
}