:root {
    /* ================ CORES ================ */
    --firstColor: #;
    --firstColorLowOpacity: #;
    --firstColorTransparent: #;

    --secondColor: #;
    --secondColorLowOpacity: #;
    --secondColorTransparent: #;

    --thirdColor: #;
    --thirdColorLowOpacity: #;
    --thirdColorTransparent: #;
    
    /* ============ TEMA AMARELO ============ */
    --pastelYellowColor: #F9EC7C;
    --pastelYellowColorLowOpacity: #F9EC7C80;
    --pastelYellowColorTransparent: #F9EC7C20;

    --middleYellowColor: #BDB150;
    --middleYellowColorLowOpacity: #BDB15080;
    --middleYellowColorTransparent: #BDB15020;

    --darkYellowColor: #807523;
    --darkYellowColorLowOpacity: #80752380;
    --darkYellowColorTransparent: #80752320;


    /* ============= TEMA AZUL ============= */
    --pastelBlueColor: #7DEBFA;
    --pastelBlueColorLowOpacity: #7DEBFA80;
    --pastelBlueColorTransparent: #7DEBFA20;

    --middleBlueColor: #40AEBD;
    --middleBlueColorLowOpacity: #40AEBD80;
    --middleBlueColorTransparent: #40AEBD20;

    --darkBlueColor: #037180;
    --darkBlueColorLowOpacity: #03718080;
    --darkBlueColorTransparent: #03718020;  


    /* ============= TEMA ROSA ============= */
    --pastelPinkColor: #FA7EBD;
    --pastelPinkColorLowOpacity: #FA7EBD80;
    --pastelPinkColorTransparent: #FA7EBD20;

    --middlePinkColor: #CF4A8E;
    --middlePinkColorLowOpacity: #CF4A8E80;
    --middlePinkColorTransparent: #CF4A8E20;

    --darkPinkColor: #A3155F;
    --darkPinkColorLowOpacity: #A3155F80;
    --darkPinkColorTransparent: #A3155F20;


    --whiteColor: #FFFFFF;
    --grayColor: #808080;
    --blackColor: #000000;
    --redColor: #C84A60;

    /* ================ FONTES ================ */
    --sizeFontTitle: 26px;
    --sizeFontIcons: 18px;
    --sizeFontSubtitle: 16px;
    --sizeFontText: 14px;
}

.Y-theme {
    /* ============= Variaveis de Substituicao ============= */

    --firstColor: #F9EC7C;
    --firstColorLowOpacity: #F9EC7C80; 
    --firstColorTransparent: #F9EC7C20;

    --secondColor: #BDB150;
    --secondColorLowOpacity: #BDB15080;
    --secondColorTransparent: #BDB15020;

    --thirdColor: #807523;
    --thirdColorLowOpacity: #80752380;
    --thirdColorTransparent: #80752320;

    /* ================== Variaveis Fixas =================== */

    --pastelYellowColor: #F9EC7C;
    --pastelYellowColorLowOpacity: #F9EC7C80;
    --pastelYellowColorTransparent: #F9EC7C20;

    --middleYellowColor: #BDB150;
    --middleYellowColorLowOpacity: #BDB15080;
    --middleYellowColorTransparent: #BDB15020;

    --darkYellowColor: #807523;
    --darkYellowColorLowOpacity: #80752380;
    --darkYellowColorTransparent: #80752320;
}

.B-theme {
    /* ============= Variaveis de Substituicao ============= */

    --firstColor: #7DEBFA;
    --firstColorLowOpacity: #7DEBFA80;
    --firstColorTransparent: #7DEBFA20;

    --secondColor: #40AEBD;
    --secondColorLowOpacity: #40AEBD80;
    --secondColorTransparent: #40AEBD20;

    --thirdColor: #037180;
    --thirdColorLowOpacity: #03718080;
    --thirdColorTransparent: #03718020; 
    
    /* ================== Variaveis Fixas =================== */

    --pastelBlueColor: #7DEBFA;
    --pastelBlueColorLowOpacity: #7DEBFA80;
    --pastelBlueColorTransparent: #7DEBFA20;

    --middleBlueColor: #40AEBD;
    --middleBlueColorLowOpacity: #40AEBD80;
    --middleBlueColorTransparent: #40AEBD20;

    --darkBlueColor: #037180;
    --darkBlueColorLowOpacity: #03718080;
    --darkBlueColorTransparent: #03718020;  
}

.P-theme {
    /* ============= Variaveis de Substituicao ============= */

    --firstColor: #FA7EBD;
    --firstColorLowOpacity: #FA7EBD80;
    --firstColorTransparent: #FA7EBD20;

    --secondColor: #CF4A8E;
    --secondColorLowOpacity: #CF4A8E80;
    --secondColorTransparent: #CF4A8E20;

    --thirdColor: #A3155F;
    --thirdColorLowOpacity: #A3155F80;
    --thirdColorTransparent: #A3155F20;

    /* ================== Variaveis Fixas =================== */

    --pastelPinkColor: #FA7EBD;
    --pastelPinkColorLowOpacity: #FA7EBD80;
    --pastelPinkColorTransparent: #FA7EBD20;

    --middlePinkColor: #CF4A8E;
    --middlePinkColorLowOpacity: #CF4A8E80;
    --middlePinkColorTransparent: #CF4A8E20;

    --darkPinkColor: #A3155F;
    --darkPinkColorLowOpacity: #A3155F80;
    --darkPinkColorTransparent: #A3155F20;
}