@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', 'sans-serif';
    font-style: normal;
}

/*====================================================================================================
====================================== PÁGINA DE APRESENTAÇÃO ========================================
====================================================================================================*/

body::-webkit-scrollbar{
    display: none;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 5rem;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background-color: var(--whiteColor);
    z-index: 1;
}

header img.A-headerLogo{
    width: 10rem;
    cursor: pointer;
}

header .A-apresentationSections{
    display: flex;
    gap: 2.5rem;
}

header .A-apresentationSections h4{
    cursor: pointer;
    font-weight: 500;
}

header .A-searchBar{
    display: flex;
    background-color: #cfcfcf;
    border-radius: 10rem;
    width: 15rem;
    height: 2rem;
    min-width: 13.5rem;
    padding: 0 0.6rem 0 0.6rem;
    gap: 0.4rem;
    opacity: 0.6;
    font-size: 0.8rem;
    color: var(--grayColor);
}

header .A-searchBarInput{
    background-color: transparent;
    border: none;
    color: var(--blackColor);
    outline: none;
    width: 90%;
    font-weight: 400;
    font-size: 1rem;
}

header .A-searchBar .bi,
header .A-searchBarInput::placeholder{
    color:var(--blackColor);
}   

header .A-signButtons{
    display: flex;
    gap: 1rem;
}

header .A-signButtons a{
    text-decoration: none;
}

header .A-signButtons h4{
    display: flex;
    height: 2rem;
    width: 7rem;    
    color: var(--middleYellowColor);
    border: 1px solid var(--middleYellowColor);
    border-radius: 10rem;
    cursor: pointer;
}

header .A-signButtons .A-signIn{
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
}

main .A-backgroundGeometricForms{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

main .A-backgroundMom{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    right: 20rem;
    top: 13rem;
}

main .A-backgroundMom img{
    width: 8rem;
}

main{
    position: relative;
    background: linear-gradient(#ffffff50 0%, #80752350 20%, #03718050 45%, #a3155f50 75%, #80752350 95%);

}

main section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 3rem 2rem;
}

main section .A-quote{
    padding:  5rem 0 5rem 5rem;
    width: 40rem;
    font-size: 2.5rem;
}

main section article{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    width: 60vw;
}

main section .A-articleHighlight{
    position: relative;
    display: flex;
    flex-direction: column;
}

main section .A-articleHighlight .A-articleBar{
    position: relative;
    height: 28.125rem;
    width: 3px;
    border-radius: 100rem;
}

main section .A-articleConectaMaes .A-articleHighlight .A-articleBar,
main section .A-Sharing .A-articleHighlight .A-articleBar,
main section .A-articleEquip .A-articleHighlight .A-articleBar{
    background-color: var(--middleYellowColor);
}

main section .A-Sharing .A-articleHighlight .A-articleBar{
    background: linear-gradient(#BDB150,#40AEBD);
}

main section .A-articleFollowing .A-articleHighlight .A-articleBar,
main section .A-articleHelping .A-articleHighlight .A-articleBar{
    background-color: var(--middleBlueColor);
}

main section .A-articleHelping .A-articleHighlight .A-articleBar{
    background: linear-gradient(#40AEBD,#CF4A8E);
}
main section .A-articleRating .A-articleHighlight .A-articleBar{
    background: linear-gradient(var(--middlePinkColor),#FA7EBD00);
}

main section .A-articleConectaMaes p,
main section .A-Sharing,
main section .A-articleFollowing p,
main section .A-articleHelping,
main section .A-articleRating{
    font-size: 1.25rem;
}

main section .A-articleConectaMaes .A-focus,
main section .A-Sharing .A-focus{
    font-weight: bolder;
    color: var(--middleYellowColor);
}

main section .A-articleFollowing .A-focus,
main section .A-articleHelping .A-focus{
    font-weight: bolder;
    color: var(--middleBlueColor);
}

main section .A-articleRating .A-focus{
    font-weight: bolder;
    color: var(--middlePinkColor);
}

main section:nth-of-type(2){
    align-items: center;
}

main section .A-createAccountSign{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

main section .A-createAccountSign p{
    width: 20rem;
    text-align: center;
    font-size: 1.2rem;
}

main section .A-createAccountSign .A-createAccountButton{
    display: flex;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    color: var(--whiteColor);
    background-color: var(--middlePinkColor);
    width: 13rem;
    box-shadow: 0 0 5px 1px var(--darkPinkColor);
    font-weight: 900;
}

main section .A-articleEquip{
    position: relative;
    justify-content: center;
    padding: 10rem 2rem 0 0;
    width: 100vw;
}

main section .A-articleEquip .A-articleHighlight{
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
    left: 1rem;
    top: 0;
}

main section .A-articleEquip .A-articleHighlight .A-articleBar{
    height: 6.25rem;
    background: linear-gradient(#FA7EBD00,var(--middleYellowColor));
}

main section .A-articleEquip .A-articleHighlight h2{
    font-size: 2.5rem;
}

main section .A-articleEquip .A-equipContainer{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 3rem;
}

main section .A-articleEquip .A-equipContainer .A-equipMember{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

main section .A-articleEquip .A-equipContainer .A-equipMember .A-memberImage img{
    width: 8rem;
}

main section .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation{
    line-height: 1.3rem;
    text-align: center;
}

main section .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberName{
    font-size: 1.7rem;
    font-weight: 600;
}

main section .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberFamilyName{
    font-weight: 500;
}

main section .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberFunction{
    font-weight: 400;
}

footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem 0.5rem 0.5rem;
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

footer .A-footerLeft img.A-footerLogo{
    width: 15rem;
    cursor: pointer;
}

footer .A-footerLeft .A-footerContact{
    padding: 0 0 4rem 1rem;
    width: 14rem;
    font-size: 1.625rem;
}

footer .A-footerLeft .A-footerContact h3{
    padding: 0.5rem 0 1rem 0;
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;   
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-instagram{
    color: var(--pastelYellowColor);
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-facebook{
    color: var(--pastelBlueColor);
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-envelope-fill{
    color: var(--pastelPinkColor);
}

footer .A-copyrightSign{
    position: absolute;
    display: flex;
    gap: 0.5rem;
    width: 30rem;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.938rem;
}

footer .A-footerRight{
    display: flex;
    gap: 6.25rem;
    list-style: none;
    height: 100%;
}

footer .A-footerRight li h5{
    font-size: 1.438rem;
    line-height: 3rem;
    pointer-events: none;
}

footer .A-footerRight li p{
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

footer .A-footerRight li.A-footerAbout h5{
    color: var(--pastelYellowColor);
}

footer .A-footerRight li.A-footerHelp h5{
    color: var(--pastelBlueColor);
}

footer .A-footerRight li.A-footerPolitic h5{
    color: var(--pastelPinkColor);
}