@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', 'sans-serif';
    font-style: normal;
}

/*====================================================================================================
====================================== PÁGINA DE APRESENTAÇÃO ========================================
====================================================================================================*/

body::-webkit-scrollbar{
    display: none;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 5rem;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background-color: var(--whiteColor);
    z-index: 1;
}

header img.A-headerLogo{
    width: 10rem;
    cursor: pointer;
}

header .A-headerLinks{
    display: flex;
    gap: 2.5rem;
}

header .A-headerLinks h4{
    cursor: pointer;
    font-weight: 500;
}

header .A-searchBar{
    display: flex;
    background-color: #cfcfcf;
    border-radius: 10rem;
    width: 15rem;
    height: 2rem;
    min-width: 13.5rem;
    padding: 0 0.6rem 0 0.6rem;
    gap: 0.4rem;
    opacity: 0.6;
    font-size: 0.8rem;
    color: var(--grayColor);
}

header .A-searchBarInput{
    background-color: transparent;
    border: none;
    color: var(--blackColor);
    outline: none;
    width: 90%;
    font-weight: 400;
    font-size: 1rem;
}

header .A-searchBar .bi,
header .A-searchBarInput::placeholder{
    color:var(--blackColor);
}   

header .A-signButtons{
    display: flex;
    gap: 1rem;
}

header .A-signButtons a{
    text-decoration: none;
}

header .A-signButtons h4{
    display: flex;
    height: 2rem;
    width: 7rem;    
    color: var(--middleYellowColor);
    border: 1px solid var(--middleYellowColor);
    border-radius: 10rem;
    cursor: pointer;
}

header .A-signButtons .A-signIn{
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
}

main{
    position: relative;
    background: linear-gradient(#ffffff50 0%, #80752350 20%, #03718050 45%, #a3155f50 75%, #80752350 95%);
    padding: 0.3rem 1rem 3rem 1rem;
}

main .A-backgroundGeometricForms{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

main .A-backgroundMom{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50rem;
    right: 20rem;
    top: 13rem;
}

main .A-backgroundMom img{
    width: 9rem;
}

main .A-apresentationSections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 3rem 2rem;
}

main .A-apresentationSections .A-quote{
    padding:  5rem 0 3rem 5rem;
    width: 40rem;
    font-size: 2.5rem;
}

main .A-apresentationSections article{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    width: 60vw;
}

main .A-apresentationSections .A-articleHighlight{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

main .A-apresentationSections .A-articleHighlight .A-articleBar{
    position: relative;
    height: 20rem;
    width: 3px;
    border-radius: 100rem;
}

main .A-apresentationSections .A-articleConectaMaes .A-articleHighlight .A-articleBar,
main .A-apresentationSections .A-Sharing .A-articleHighlight .A-articleBar,
main .A-apresentationSections .A-articleEquip .A-articleHighlight .A-articleBar{
    background-color: var(--middleYellowColor);
}

main .A-apresentationSections .A-Sharing .A-articleHighlight .A-articleBar{
    background: linear-gradient(#BDB150,#40AEBD);
}

main .A-apresentationSections .A-articleFollowing .A-articleHighlight .A-articleBar,
main .A-apresentationSections .A-articleHelping .A-articleHighlight .A-articleBar{
    background-color: var(--middleBlueColor);
}

main .A-apresentationSections .A-articleHelping .A-articleHighlight .A-articleBar{
    background: linear-gradient(#40AEBD,#CF4A8E);
}
main .A-apresentationSections .A-articleRating .A-articleHighlight .A-articleBar{
    background: linear-gradient(var(--middlePinkColor),#FA7EBD00);
}

main .A-apresentationSections .A-articleConectaMaes p,
main .A-apresentationSections .A-Sharing,
main .A-apresentationSections .A-articleFollowing p,
main .A-apresentationSections .A-articleHelping,
main .A-apresentationSections .A-articleRating{
    font-size: 1.25rem;
    text-align: justify;
}

main .A-apresentationSections .A-articleConectaMaes .A-focus,
main .A-apresentationSections .A-Sharing .A-focus{
    font-weight: bolder;
    color: var(--middleYellowColor);
}

main .A-apresentationSections .A-articleFollowing .A-focus,
main .A-apresentationSections .A-articleHelping .A-focus{
    font-weight: bolder;
    color: var(--middleBlueColor);
}

main .A-apresentationSections .A-articleRating .A-focus{
    font-weight: bolder;
    color: var(--middlePinkColor);
}

main .A-apresentationSections:nth-of-type(2){
    align-items: center;
}

main .A-apresentationSections .A-createAccountSign{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

main .A-apresentationSections .A-createAccountSign p{
    width: 20rem;
    text-align: center;
    font-size: 1.2rem;
}

main .A-apresentationSections .A-createAccountSign .A-createAccountButton{
    display: flex;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    color: var(--whiteColor);
    background-color: var(--middlePinkColor);
    width: 13rem;
    box-shadow: 0 0 5px 1px var(--darkPinkColor);
    font-weight: 900;
}

main .A-apresentationSections .A-articleEquip{
    position: relative;
    justify-content: center;
    padding: 10rem 2rem 0 0;
    width: 100vw;
}

main .A-apresentationSections .A-articleEquip .A-articleHighlight{
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    position: absolute;
    left: 1rem;
    top: 0;
}

main .A-apresentationSections .A-articleEquip .A-articleHighlight .A-articleBar{
    height: 6.25rem;
    background: linear-gradient(#FA7EBD00,var(--middleYellowColor));
}

main .A-apresentationSections .A-articleEquip .A-articleHighlight h2{
    font-size: 2.5rem;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 3rem;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember .A-memberImage img{
    width: 8rem;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation{
    line-height: 1.3rem;
    text-align: center;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberName{
    font-size: 1.7rem;
    font-weight: 600;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberFamilyName{
    font-weight: 500;
}

main .A-apresentationSections .A-articleEquip .A-equipContainer .A-equipMember .A-memberInformation .A-memberFunction{
    font-weight: 400;
}


footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem 0.5rem 0.5rem;
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

footer .A-footerLeft img.A-footerLogo{
    width: 15rem;
    cursor: pointer;
}

footer .A-footerLeft .A-footerContact{
    padding: 0 0 4rem 1rem;
    width: 14rem;
    font-size: 1.625rem;
}

footer .A-footerLeft .A-footerContact h4{
    padding: 0.5rem 0 1rem 0;
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;   
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-instagram{
    color: var(--pastelYellowColor);
    cursor: pointer;
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-facebook{
    color: var(--pastelBlueColor);
    cursor: pointer;
}

footer .A-footerLeft .A-footerContact .A-footerSocialMedias .bi-envelope-fill{
    color: var(--pastelPinkColor);
    cursor: pointer;
}

footer .A-copyrightSign{
    position: absolute;
    display: flex;
    gap: 0.5rem;
    width: 30rem;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.7rem;
}

footer .A-footerRight{
    display: flex;
    align-items: flex-start;
    gap: 6.25rem;
    list-style: none;
    height: 100%;
}

footer .A-footerRight li h5{
    font-size: 1.438rem;
    line-height: 3rem;
    pointer-events: none;
}

footer .A-footerRight li p{
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

footer .A-footerRight li.A-footerAbout h5{
    color: var(--pastelYellowColor);
}

footer .A-footerRight li.A-footerHelp h5{
    color: var(--pastelBlueColor);
}

footer .A-footerRight li.A-footerPolitic h5{
    color: var(--pastelPinkColor);
}

/*====================================================================================================
========================================= PÁGINA DE LOGIN  ===========================================
====================================================================================================*/

.L-mainBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff50 0%, #80752350 100%);
}

.L-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--whiteColor);
    padding: 2rem 1.5rem;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    width: 28rem;   
    height: 32rem;
    border-radius: 1rem;
    
}
.L-title{
    color:var(--middleYellowColor);
    font-size: 3rem;
}
.L-submitButton{
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
    border:none;
    height: 2.5rem;
    width: 10rem; 
    border-radius: 10rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}
.L-googleButton{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--middleYellowColor);
    gap: 0.5rem;
    height: 2rem;
    width: 14rem; 
    padding: 0.2rem 0.5rem;
    border-radius: 100rem;
    font-weight: 600;
    font-size: 16px;
    color: var(--whiteColor);
    cursor: pointer;
    border: none;
}
.L-signWGoogle{
    text-decoration: none;
}
.L-orDivision{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width:100%;
}
.L-orDivision .L-orText{
    font-weight: 600;
    font-size: 20px;
    color: var(--middleYellowColor);
}
.L-orDivision .L-horizontalOrBar{
    background: var(--middleYellowColor);
    width:7rem;
    height:2px;
    border-radius: 2px;
}
.L-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    width: 75%;
}
.L-inputs div{
    width:100%;
}
.L-inputs input{
    width:100%;
    border:solid 3px var(--middleYellowColor);
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    outline:none;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    color: black;
    opacity: 0.5;
}
.L-form .L-userInputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.L-form .L-userInputs div {
    position: relative;
}

.L-form .L-userInputs input {
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    border-radius: 100rem;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    outline: none;
    color: black;
    opacity: 0.5;
}

.L-form .L-userInputs input:focus,
.L-form .L-userInputs input:hover,
.L-form .L-userInputs input:valid {
    opacity: 1;
    transition: 0.15s ease-in-out;
}

.L-form .L-userInputs label{
    position: absolute;
    color: var(--darkYellowColor);
    font-weight: 600;
    cursor: text;
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
    font-size: 15px;
    top: 11px;
    left: 1rem;
    opacity: 0.65;
}

.L-form .L-userInputs input:focus + label,
.L-form .L-userInputs input:valid + label {
    top: -5px;
    font-size: 12px;
    opacity: 1;
    text-shadow: 3px 0 0 var(--whiteColor), -3px 0 0 var(--whiteColor), 0 3px 0 var(--whiteColor), 0 -3px 0 var(--whiteColor),3px 3px 0 var(--whiteColor), -3px -3px 0 var(--whiteColor), 3px -3px 0 var(--whiteColor), -3px 3px 0 var(--whiteColor),
                5px 0 0 var(--whiteColor), -5px 0 0 var(--whiteColor), 0 5px 0 var(--whiteColor), 0 -5px 0 var(--whiteColor),5px 5px 0 var(--whiteColor), -5px -5px 0 var(--whiteColor), 5px -5px 0 var(--whiteColor), -5px 5px 0 var(--whiteColor);
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
}

.L-secondaryLOptions{
    width:75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:0.5rem;
    font-size: 0.75rem;
    gap: space-between;
    
}
.L-secondaryLOptions a{
    text-decoration: none;
    color: #000000;
}
.L-rememberCheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.L-rememberCheckbox a{
    text-decoration: none;
    color: #000000;
}
.L-noAccount{
    font-size: 0.75rem;
}
.L-noAccount span{
    font-weight: 600;
    color: var(--middleYellowColor);
    text-decoration: underline var(--middleYellowColor);
}
.L-cellsLeft{
    left:0;
}

/*====================================================================================================
======================================== PÁGINA DE REGISTRO ==========================================
====================================================================================================*/

.R-registerMain{
    background: linear-gradient(#ffffff 0%, #fffad0 95%);
}

.R-registerForm{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--whiteColor);
    padding: 2rem 1.5rem;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    width: min-content;   
    height: min-content;
    border-radius: 1rem;
    transform: translateX(-50%);
    left: 50%;
}

.R-registerForm section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.R-registerMain .A-backgroundGeometricForms{
    height: 100%;
    position: absolute;
}

.R-registerMain .A-backgroundGeometricForms.cellsLeft{
    left: 0;
}

.R-registerTitle{
    color: var(--middleYellowColor);
    text-transform: uppercase;
    font-size: 3rem;
}

.R-loginWithGoogle{
    display: flex;
    background-color: var(--middleYellowColor);
    gap: 0.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 100rem;
    font-weight: 900;
    color: var(--whiteColor);
    cursor: pointer;
}

.R-registerForm .R-separator{
    position: relative;
    color: var(--middleYellowColor);
    display: flex;
    gap: 1rem;
}

.R-registerForm .R-separator span{
    width: 7rem;
    border: 1px solid var(--middleYellowColor);
    border-radius: 100rem;
}


.R-registerForm .R-userInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.R-registerForm .R-userInputs div {
    position: relative;
}

.R-registerForm .R-userInputs input {
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    border-radius: 100rem;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor)) border-box;
    outline: none;
    color: black;
    opacity: 0.5;
}

.R-registerForm .R-userInputs input:focus,
.R-registerForm .R-userInputs input:hover,
.R-registerForm .R-userInputs input:valid {
    opacity: 1;
    transition: 0.15s ease-in-out;
}

.R-registerForm .R-userInputs label{
    position: absolute;
    color: var(--middleYellowColor);
    font-weight: 600;
    cursor: text;
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
    font-size: 15px;
    top: 11px;
    left: 1rem;
    opacity: 0.65;
}

.R-registerForm .R-userInputs input:focus + label,
.R-registerForm .R-userInputs input:valid + label {
    top: -5px;
    font-size: 12px;
    opacity: 1;
    text-shadow: 3px 0 0 var(--whiteColor), -3px 0 0 var(--whiteColor), 0 3px 0 var(--whiteColor), 0 -3px 0 var(--whiteColor),3px 3px 0 var(--whiteColor), -3px -3px 0 var(--whiteColor), 3px -3px 0 var(--whiteColor), -3px 3px 0 var(--whiteColor),
                5px 0 0 var(--whiteColor), -5px 0 0 var(--whiteColor), 0 5px 0 var(--whiteColor), 0 -5px 0 var(--whiteColor),5px 5px 0 var(--whiteColor), -5px -5px 0 var(--whiteColor), 5px -5px 0 var(--whiteColor), -5px 5px 0 var(--whiteColor);
    transition: 0.25s ease-in-out, 0.3s ease-in-out text-shadow;
}

.R-registerForm .R-next{
    display: flex;
    color: var(--whiteColor);
    background-color: var(--middleYellowColor);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
    border-radius: 100rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.R-registerForm .R-next:hover{
    font-size: 1.4rem;
    transition: 0.2s;
}

.R-registerForm .R-goLogin{
    font-size: 0.8rem;
}

.R-registerForm .R-goLogin a{
    color: var(--middleYellowColor);
    font-weight: 700;
}

.R-registerForm .R-childSection .R-addChild{
    display: flex;
    color: var(--whiteColor);
    width: 150%;
    height: 2rem;
    border-radius: 100rem;
    font-size: 0.85rem;
    background: linear-gradient(to right, var(--middleYellowColor), var(--middleBlueColor), var(--middlePinkColor));
    cursor: pointer;
}

.R-registerForm .R-childSection .R-systemTheme .R-themeContainer{
    line-height: 3rem;
}

.R-registerForm .R-childSection .R-systemTheme .R-themeContainer{
    display: flex;
    gap: 1rem;
}